body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#instructions {
    font-size: 20px;
    max-width: 80%;
    margin: 0 auto;
    padding: 3%;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#message {
    font-size: 40px;
    align-text: center;
    position: fixed;
    overflow: auto;
    color: red;
    z-index: 1;
    margin: 10% 0 0 0;
    border-radius: 10px;
    width: 50%;
    background-color: #ffffff;
}

.hidden {
    display: none;
}

#card-area {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.sorting-area {
    width: 200px;
    height: 300px;
    margin: 10px;
    background-color: #e0e0e0;
    border: 2px dashed #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    height: 300px;
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#deck-card {
    cursor: grab;
    width: 200px;
    height: 300px;
}

